* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    display: block;
  }
  
  html, body {
  
    height:100%;
    width:100%;
    border: 2px solid black;
  }
  
  body { 
    align-content:space-around;
    background-color:#ffffff;
    color:#ffffff;
    display:grid;
    justify-content:center;
  }
  
  canvas {
    background-color:#ffffff;
    background-image: url(..//images/zombie1.png);
    background-size: contain;
    transform: rotateY(180deg);
  }
